{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body class="bg-gray-800">
    <main class="h-[100vh] m-auto flex justify-center items-center">
      <form class="m-auto" >
        <h1 class="font-bold text-white text-2xl">Importe seu arquivo excel abaixo</h1>
        <label for="uploadFile" class="flex justify-center items-center text-lg mt-4 text-gray-800 font-bold cursor-pointer rounded-3xl bg-lime-400 h-[50px] leading-none">Fazer upload</label>
        <input
          id="uploadFile"
          type="file"
          class="hidden"
          value="Escolher arquivo"
        />
      </form>
    </main>
  </body>
</html>
